footer {
    background-color: $color_grey_dark;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 30px;
    text-align: left;
    img {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 160px;
        filter:  brightness(0) invert(1);
    }
    a {
        font-size: 22px;
        color: $color_white;
    }
    li {
        padding-bottom: 10px;
        &:nth-child(1) i{
            margin-right: 18px;
        }
        &:nth-child(2) i{
            margin-right: 10px;
        }
    }
}