header figure {
    text-align: center;
    img {
        margin-top: 20px;
        width: 220px;
    }
}

header {
    position: relative;
    .fa-arrow-left {
        position: absolute;
        font-size: 30px;
        top: 24px;
        left: 50px;
        color: #353535;
    }
}
