* {
  box-sizing: border-box;
}

body {
  width: 576px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
}
body ul {
  margin: 0;
  padding: 0;
}
body ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
}

.menu__titre h1 {
  font-family: "Shrikhand", cursive;
}

.btn {
  width: 300px;
  height: 65px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  border: none;
  border-radius: 30px;
  box-shadow: 0px 6px 6px #c5c5c5;
  color: white;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  font-size: 22px;
  padding-right: 30px;
  padding-left: 30px;
}
.btn__commander {
  width: 300px;
  height: 65px;
  color: white;
  font-size: 22px;
  border-radius: 30px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  box-shadow: 0px 6px 6px #c5c5c5;
  border: none;
  margin-bottom: 40px;
  padding-right: 50px;
  padding-left: 50px;
}

.btn__menu {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}

header figure {
  text-align: center;
}
header figure img {
  margin-top: 20px;
  width: 220px;
}

header {
  position: relative;
}
header .fa-arrow-left {
  position: absolute;
  font-size: 30px;
  top: 24px;
  left: 50px;
  color: #353535;
}

footer {
  background-color: #353535;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 30px;
  text-align: left;
}
footer img {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 160px;
  filter: brightness(0) invert(1);
}
footer a {
  font-size: 22px;
  color: white;
}
footer li {
  padding-bottom: 10px;
}
footer li:nth-child(1) i {
  margin-right: 18px;
}
footer li:nth-child(2) i {
  margin-right: 10px;
}

.lieu {
  display: flex;
  flex-direction: column;
}
.lieu div {
  height: 6px;
  background: linear-gradient(#cecece, #eaeaea);
}
.lieu p {
  background-color: #eaeaea;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.lieu span {
  position: relative;
  font-size: 22px;
}
.lieu .fa-map-marker-alt {
  position: absolute;
  margin-right: 200px;
  margin-bottom: 2px;
}

.reserver {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}
.reserver h1 {
  margin-top: 50px;
  margin-right: 120px;
  margin-left: 120px;
  font-size: 32px;
  text-align: center;
}
.reserver h2 {
  margin-right: 65px;
  margin-left: 65px;
  margin-top: 0;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
}

.fonctionnement {
  margin-top: 60px;
  margin-bottom: 80px;
}
.fonctionnement h2 {
  margin-left: 30px;
  font-size: 30px;
  color: black;
}
.fonctionnement__card {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  border-radius: 15px;
  width: 500px;
  height: 90px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  box-shadow: 0px 9px 9px #ebebeb;
}
.fonctionnement__nombre {
  border-radius: 100%;
  padding: 5px 10px 5px 10px;
  background-color: #9356dc;
  position: absolute;
  color: white;
  left: -10px;
}
.fonctionnement i {
  margin-right: 40px;
  margin-left: 60px;
  font-size: 20px;
  color: #7e7e7e;
}
.fonctionnement__titre {
  font-size: 24px;
  font-weight: 600;
}
.fonctionnement__violet {
  background-color: #f5edff;
}
.fonctionnement__violet i {
  color: #9356dc;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  margin-bottom: 0px;
}
.restaurants h2 {
  margin-left: 30px;
  font-size: 30px;
  color: black;
  padding-top: 30px;
}

.restaurant__card {
  border: 0px solid transparent;
  border-radius: 20px;
  background-color: white;
  width: 88%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  height: 360px;
  box-shadow: 0px 9px 9px #ebebeb;
}
.restaurant__card a {
  width: 100%;
  height: 100%;
}
.restaurant__card figure {
  height: 70%;
  margin: 0px;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: relative;
}
.restaurant__card figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restaurant__card figure p {
  background-color: #99e2d0;
  border-radius: 2px;
  color: #008766;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  top: 0px;
  right: 15px;
}
.restaurant__card .restaurant__text {
  text-align: left;
  font-size: 24px;
  position: relative;
}
.restaurant__card .restaurant__text h3 {
  font-weight: 700;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 30px;
}
.restaurant__card .restaurant__text p {
  margin: 0;
  margin-left: 30px;
}
.restaurant__card .restaurant__text .fa-heart {
  position: absolute;
  font-size: 30px;
  right: 30px;
  top: 30px;
}
.restaurant__card .restaurant__text .restaurant__titre {
  display: flex;
  margin-bottom: 2px;
}

.restaurant__card:nth-child(4) {
  margin-bottom: 80px;
}

.image_restaurant img {
  width: 100%;
}

.menu {
  background: #f6f6f6;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  position: relative;
  top: -60px;
}
.menu__titre {
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
}
.menu__titre h1 {
  margin-top: 40px;
  font-size: 40px;
  font-weight: 300;
}
.menu__titre i {
  font-size: 33px;
  padding-right: 60px;
  padding-top: 50px;
}

.menu__plat h2 {
  margin-left: 25px;
  font-size: 24px;
  text-transform: uppercase;
  border-bottom: 3px solid green;
}
.menu__plat__card {
  background-color: white;
  border-radius: 30px;
  width: 90%;
  height: 90px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  box-shadow: 0px 9px 9px #ebebeb;
}
.menu__plat__card h3 {
  padding-top: 15px;
  padding-left: 15px;
  font-size: 24px;
  margin-bottom: 5px;
}
.menu__plat__card .prix {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  padding-left: 15px;
  font-size: 22px;
}
.menu__plat__card span {
  padding-right: 25px;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
