* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
}
body ul {
  margin: 0;
  padding: 0;
}
body ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Roboto", sans-serif;
}

.menu__titre h1 {
  font-family: "Shrikhand", cursive;
}

@keyframes spin {
  0% {
    visibility: visible;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spinner {
  0% {
    visibility: visible;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn {
  height: 65px;
  color: #fff;
  font-size: 22px;
  border-radius: 30px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  box-shadow: 0px 6px 6px #c5c5c5;
  border: none;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
.btn:hover {
  filter: brightness(120%);
  box-shadow: 0px 6px 6px #929292;
}
.btn__commander {
  height: 65px;
  color: #fff;
  font-size: 22px;
  border-radius: 30px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  box-shadow: 0px 6px 6px #c5c5c5;
  border: none;
  width: 300px;
  margin-bottom: 80px;
  padding-right: 50px;
  padding-left: 50px;
}
.btn__commander:hover {
  filter: brightness(120%);
  box-shadow: 0px 6px 6px #929292;
}

.btn__menu {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}

header figure {
  text-align: center;
}
header figure img {
  margin-top: 10px;
  width: 200px;
}

header {
  position: relative;
}
header .fa-arrow-left {
  position: absolute;
  font-size: 25px;
  top: 15px;
  left: 30px;
  color: #353535;
}

footer {
  background-color: #353535;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 30px;
  text-align: left;
}
footer img {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 160px;
  filter: brightness(0) invert(1);
}
footer a {
  font-size: 20px;
  color: #fff;
}
footer li {
  padding-bottom: 10px;
}
footer li:nth-child(1) i {
  margin-right: 18px;
}
footer li:nth-child(2) i {
  margin-right: 10px;
}

.spinner {
  height: 100%;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  background: #fff;
  animation: spin 2s linear;
  z-index: 2;
}
.spinner__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid transparent;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  animation: spinner 2s ease-in-out;
  z-index: 1;
}

.lieu {
  display: flex;
  flex-direction: column;
}
.lieu::before {
  content: "";
  height: 6px;
  background: linear-gradient(#cecece, #eaeaea);
}
.lieu p {
  background-color: #eaeaea;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.lieu span {
  position: relative;
  font-size: 22px;
}
.lieu .fa-map-marker-alt {
  position: absolute;
  margin-right: 200px;
  margin-bottom: 2px;
}

.reserver {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}
.reserver h1 {
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  font-size: 26px;
  text-align: center;
}
.reserver h2 {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 0;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.fonctionnement {
  margin-top: 60px;
  margin-bottom: 80px;
}
.fonctionnement h2 {
  margin-left: 30px;
  font-size: 26px;
  color: #000;
}
.fonctionnement__card {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  border-radius: 15px;
  width: 88%;
  max-width: 1100px;
  height: 90px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  box-shadow: 0px 9px 9px #ebebeb;
}
.fonctionnement__card:hover {
  background-color: #f5edff;
}
.fonctionnement__card:hover i {
  color: #9356dc;
}
.fonctionnement__nombre {
  border-radius: 100%;
  padding: 5px 10px 5px 10px;
  background-color: #9356dc;
  position: absolute;
  color: #fff;
  left: -10px;
}
.fonctionnement i {
  margin-right: 30px;
  margin-left: 50px;
  font-size: 20px;
  color: #7e7e7e;
}
.fonctionnement__titre {
  font-size: 20px;
  font-weight: 600;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  margin-bottom: 0px;
}
.restaurants h2 {
  margin-left: 30px;
  font-size: 26px;
  color: #000;
  padding-top: 30px;
}

.restaurant__card {
  border: 0px solid transparent;
  border-radius: 20px;
  background-color: #fff;
  width: 88%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  height: 340px;
  box-shadow: 0px 9px 9px #ebebeb;
}
.restaurant__card a {
  width: 100%;
  height: 100%;
}
.restaurant__card figure {
  height: 70%;
  margin: 0px;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: relative;
}
.restaurant__card figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restaurant__card figure p {
  background-color: #99e2d0;
  border-radius: 2px;
  color: #008766;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  top: 0px;
  right: 15px;
}
.restaurant__card--text {
  text-align: left;
  font-size: 24px;
  position: relative;
}
.restaurant__card--text h3 {
  font-weight: 700;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 30px;
  font-size: 22px;
}
.restaurant__card--text p {
  margin: 0;
  margin-left: 30px;
  font-size: 20px;
}
.restaurant__card .heart:hover .fas.fa-heart {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.restaurant__card .heart:hover .far.fa-heart {
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.restaurant__card .fas.fa-heart {
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  position: absolute;
  font-size: 30px;
  right: 20px;
  top: 30px;
}
.restaurant__card .far.fa-heart {
  position: absolute;
  font-size: 30px;
  right: 20px;
  top: 30px;
  opacity: 1;
}
.restaurant__card--titre {
  display: flex;
  margin-bottom: 2px;
}

.restaurant__card:nth-child(4) {
  margin-bottom: 80px;
}

@media (min-width: 768px) {
  .restaurant__container {
    margin-right: auto;
    margin-left: auto;
  }

  .restaurant__card {
    width: 600px;
  }
}
@media (min-width: 992px) {
  .restaurant__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
  }

  .restaurant__card {
    width: 500px;
    margin: 20px;
  }

  footer {
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .restaurant__card {
    width: 600px;
    margin: 20px;
  }
}
@media (min-width: 1900px) {
  .restaurant__card {
    width: 700px;
    margin: 20px;
  }
}
.image_restaurant img {
  height: 340px;
  width: 100%;
  object-fit: cover;
}

.menu {
  background: #f6f6f6;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  margin-top: -60px;
  position: relative;
  padding-bottom: 40px;
}
.menu__titre {
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
}
.menu__titre h1 {
  margin-top: 40px;
  font-size: 28px;
  font-weight: 300;
}
.menu .heart:hover .fas.fa-heart {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.menu .heart:hover .far.fa-heart {
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.menu .fas.fa-heart {
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  position: absolute;
  font-size: 30px;
  right: 30px;
  top: 45px;
}
.menu .far.fa-heart {
  position: absolute;
  font-size: 30px;
  right: 30px;
  top: 45px;
  opacity: 1;
}
.menu h2 {
  margin-left: 25px;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.menu h2::after {
  content: "";
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu__plat h3 {
  padding-top: 0px;
  padding-left: 15px;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 0px;
}
.menu__plat--card {
  background-color: #fff;
  border-radius: 20px;
  width: 90%;
  max-width: 800px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  box-shadow: 0px 9px 9px #ebebeb;
  animation: menu 1s both;
  position: relative;
  overflow: hidden;
}
.menu__plat--card h3 {
  padding-top: 0px;
  padding-left: 15px;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 0px;
}
.menu__plat--card .text_prix {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  margin-top: 0px;
  padding-left: 15px;
  margin-bottom: 0px;
  font-size: 14px;
}
.menu__plat--card .text_prix .text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 10px;
}
.menu__plat--card .prix {
  padding-top: 13px;
  padding-right: 25px;
  font-weight: 700;
}
.menu__plat--card .fa-check-circle {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 25px;
  left: 15px;
}
.menu__plat--card .checked {
  position: absolute;
  background-color: #99e2d0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: translateX(60px);
  overflow: hidden;
}
.menu__plat--card:hover .checked {
  transform: translate(0px);
  transition: 0.5s ease-in-out;
}
.menu__plat--card:hover .fa-check-circle {
  animation: spinner 0.5s ease-in-out;
}
.menu__plat--card:hover .text_prix {
  width: calc(100% - 65px);
  transition: width 0.5s ease-in-out;
}
.menu__plat .card_1 {
  animation-delay: 0.3s;
}
.menu__plat .card_2 {
  animation-delay: 0.6s;
}
.menu__plat .card_3 {
  animation-delay: 0.8s;
}
.menu__plat .card_4 {
  animation-delay: 1s;
}

@media (max-width: 360px) {
  .menu__titre .far.fa-heart, .menu__titre .fas.fa-heart {
    top: 80px;
  }
}
@media (min-width: 992px) {
  .image_restaurant img {
    height: 400px;
  }

  footer {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .menu__titre {
    justify-content: center;
  }

  .menu h2 {
    margin: auto;
    max-width: 800px;
  }
}

/*# sourceMappingURL=style.css.map */
