.btn {
    @include button;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    &:hover {
        @include boxshadow;
    }
    &__commander {
        @include button;
        width: 300px;
        margin-bottom: 80px;
        padding-right: 50px;
        padding-left: 50px;
        &:hover {
            @include boxshadow;
        }
    }
}

.btn__menu {
    display: flex;
    justify-content: center;
    background-color: $color_grey_light;
}