.btn {
    border-radius: 30px;
    background-color: #bd64db;
    margin-top: 20px;
    margin-bottom: 40px;
    border: none;
    p {
        margin: 10px;
        color: white;
    }
    &__commander {
        border-radius: 30px;
        margin-left: 160px;
        background-color: #bd64db;
        border: none;
        margin-bottom: 40px;
        padding-right: 50px;
        padding-left: 50px;
    }
}