.btn {
    width: 200px;
    height: 50px;
    background: linear-gradient(170deg, $color_secondary, $color_primary);
    border: none;
    border-radius: 30px;
    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    p {
        margin: 10px;
    }
    &__commander {
        border-radius: 30px;
        margin-left: 160px;
        background-color: #bd64db;
        border: none;
        margin-bottom: 40px;
        padding-right: 50px;
        padding-left: 50px;
    }
}