* {
    box-sizing: border-box;
}

body {
    width: 576px;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    ul{
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
        }
    }
}

a {
    text-decoration: none;
    color: black;
}