.spinner {
    height: 100%;
    position: fixed;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    visibility: hidden;
    background: $color_white;
    animation: spin 2s linear;
    z-index: 2;
    &__loading {
        @include flexbox-center;
        border: 10px solid transparent;
        border-top: 10px solid $color-primary;
        border-bottom: 10px solid $color-secondary;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        position: fixed;
        margin: auto;
        top: 0; left: 0; right: 0; bottom: 0;
        visibility: hidden;
        animation: spinner 2s ease-in-out ;
        z-index: 1;
    }
}

.lieu {
    display: flex;
    flex-direction: column;
    &::before {
        content: '';
        height: 6px;
        background: linear-gradient(#cecece,$color_grey_medium);
    }
    p {
        background-color: $color_grey_medium;
        height: 60px;
        width: 100%;
        @include flexbox-center;
        margin: 0; 
    }
    span {
        position: relative;
        font-size: 22px;
    }
    .fa-map-marker-alt{
        position: absolute;
        margin-right: 200px;
        margin-bottom: 2px;
    }
}

.reserver {
    display: flex;
    flex-direction: column;
    background-color: $color_grey_light; 
    h1 {
        margin-top: 50px;
        margin-right: 50px;
        margin-left: 50px;
        font-size: 26px;
        text-align: center;
    }
    h2 {
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 0;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
    }
}

.fonctionnement {
    margin-top: 60px;
    margin-bottom: 80px;
    h2 {
        margin-left: 30px;
        font-size: 26px;
        color: $color_black;
    }
    &__card {
        display: flex;
        align-items: center;
        background: $color_grey_light;
        border-radius: 15px;
        width: 88%;
        max-width: 1100px;
        height: 90px;
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        box-shadow: 0px 9px 9px #ebebeb;
        &:hover {
            background-color: #f5edff;
            i {
                color: $color_purple;
            }
        }
    }
    &__nombre {
        border-radius: 100%;
        padding: 5px 10px 5px 10px;
        background-color: $color_purple;
        position: absolute;
        color: $color_white;
        left: -10px;
    }
    i {
        margin-right: 30px;
        margin-left: 50px;
        font-size: 20px;
        color: #7e7e7e;
    }
    &__titre {
        font-size: 20px;
        font-weight: 600;
    }
}

.restaurants {
    display: flex;
    flex-direction: column;
    background-color: $color_grey_light;
    margin-bottom: 0px;
    h2 {
        margin-left: 30px;
        font-size: 26px;
        color: $color_black;
        padding-top: 30px;
    }
}

.restaurant__card {
    border: 0px solid transparent;
    border-radius: 20px;
    background-color: $color_white;
    width: 88%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    height: 340px;
    box-shadow: 0px 9px 9px #ebebeb;
    a {
        width: 100%;
        height: 100%;
    }
    figure {
        height: 70%;
        margin: 0px;
        overflow: hidden;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;  
        }
        p {
            background-color: #99e2d0;
            border-radius: 2px;
            color: #008766;
            padding: 10px;
            font-size: 18px;
            font-weight: 600;
            position: absolute;
            top: 0px;
            right: 15px;
        }
    }
    .restaurant__text {
        text-align: left;
        font-size: 24px;
        position: relative;
        h3 {
            font-weight: 700;
            margin: 0;
            margin-top: 20px;
            margin-bottom: 5px;
            margin-left: 30px;
            font-size: 22px;
        }
        p {
            margin: 0;
            margin-left: 30px;
            font-size: 20px;
        }
    }
    .heart:hover {
        .fas.fa-heart {
            opacity: 1;
            transition: 0.3s ease-in-out;
        }
        .far.fa-heart {
            opacity: 0;
            transition: 0.3s ease-in-out;
        }
    }
    .fas.fa-heart {
        background: linear-gradient(170deg, $color_secondary, $color_primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        position: absolute;
        font-size: 30px;
        right: 20px;
        top: 30px;
    }
    .far.fa-heart {
        position: absolute;
        font-size: 30px;
        right: 20px;
        top: 30px;
        opacity: 1;
    }
    .restaurant__titre {
        display: flex;
        margin-bottom: 2px;
    }
}

.restaurant__card:nth-child(4) {
    margin-bottom: 80px;
}


@media (min-width: 768px) { 
    .restaurant__container {
        margin-right: auto;
        margin-left: auto;
    }
    .restaurant__card {
        width: 600px;
    }
}

@media (min-width: 992px) {
    .restaurant__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
    }
    .restaurant__card {
        width: 500px;
        margin: 20px;
    }
    footer {
        text-align: center;
    }
}

@media (min-width: 1440px) {
    .restaurant__card {
        width: 600px;
        margin: 20px;
    }
}

@media (min-width: 1900px) { 
    .restaurant__card {
        width: 700px;
        margin: 20px;
    }
}