.image_restaurant img{
    width: 100%;
}

.menu {
    background: #f6f6f6;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    position: relative;
    top: -60px;
    &__titre {
        margin-left: 30px;
        display: flex;
        justify-content: space-between;
        h1 {
            margin-top: 40px;
            font-size: 40px;
            font-weight: 300;
        }
        i {
            font-size: 33px;
            padding-right: 60px;
            padding-top: 50px;
        }
    }
}

.menu__plat {
    h2 {
        margin-left: 25px;
        font-size: 24px;
        text-transform: uppercase;
        border-bottom: 3px solid green;
    }
    &__card {
        background-color: white;
        border-radius: 30px;
        width: 90%;
        height: 90px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 15px;
        box-shadow: 0px 9px 9px #ebebeb;
        h3 {
            padding-top: 15px;
            padding-left: 15px;
            font-size: 24px;
            margin-bottom: 5px;
        }
        .prix {
            display: flex;
            justify-content: space-between;
            margin-top: 8px;
            padding-left: 15px;
            font-size: 22px;
        }
        span {
            padding-right: 25px;
            font-weight: 700;
        }
    }
}