@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button {
    height: 65px;
    color: $color_white;
    font-size: 22px;
    border-radius: 30px;
    background: linear-gradient(170deg, $color_secondary, $color_primary);
    box-shadow: 0px 6px 6px #c5c5c5;
    border: none;
}