$color_primary: #9356DC;
$color_secondary: #FF79DA;
$color_terciary: #99E2D0;

$color_white: #fff;
$color_black: #000;

$color_btn_shadow: #c5c5c5;
$color_grey_light: #f6f6f6;
$color_grey_medium: #eaeaea;
$color_grey_dark: #353535;

$color_purple: #9356dc;

$box_shadow: #c5c5c5;